/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

*.gem
*.rbc
/.config
/InstalledFiles
/spec/examples.txt
/test/tmp/
/test/version_tmp/

/.idea/
*.iml
*.iws
.rakeTasks

/.yardoc/
/rdoc/

MyFirstProject.iml

/vendor/bundle
/.env
/.env.*

*.log

/.gem/

Thumbs.db
ehthumbs.db
Desktop.ini

/lib/*/version.rb
/.github/
